/*-------------------------- General ---*/

@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Fjalla+One|Merriweather+Sans:700i,800i');

main {
    min-height: 40vh;
}

.parallax-container {
    height: 38vh;
}

.parallax img {
    width: 100%;
}

.paragraph {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
    text-align: center;
    letter-spacing: 2px;
}

.title {
    text-align: center;
}

#add_button[type="submit"] {
    border: none;
    background: transparent;
}
/*-------------------------- Navigation Bar ---*/

.logo {
    padding-top: 7px;
    padding-bottom: 7px;
    height: 50px;
    margin-top: 5px;
}

.nav-wrapper {
    background-color: #102540;
}

nav .sidenav-trigger {
    margin: 0;
}

.background {
    background-color: #102540;
}

/*-------------------------- Index ---*/

.paragraph>i {
    color: #5f9ea0;
}

.paragraph-on-parallax {
    position: absolute;
    top: 18%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.paragraph-on-parallax>p {
    color: #fafafa;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    font-size: 200%;
    text-shadow: 2px 1px 4px #102540;
    letter-spacing: 3px;
}

.fa-user-check,
.fa-laugh-beam {
    font-size: 5em;
    color: #5f9ea0;
}

.purple-alert {
    background-color: #be7499;
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    font-size: medium;
    text-align: center;
    color: #fff;
    margin: 0px;
}

.card-panel{
    width: 95%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 30px;
}

.index-cards {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 80px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.index-cards>i {
    font-size: 300%;
    margin: 5px;
}

.index-cards>img {
    max-width: 300px;
    margin: auto;
}

.five-cards {
    width: 80%;
    max-width: 500px;
}

/*-------------------------- Edit Card Form ---*/

.edit-card {
    width: 265px;
    height: 370px;
}

.edit-card>img {
    width: 100%;
    height: 100%;
}

/*-------------------------- Add Card Form ---*/

.card-form {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

/*-------------------------- Decks / Cards ---*/

.decks {
    margin: 30px;
}

.card-size,
.deck-size {
    width: 221px;
    height: 311px;
}

.deck-colors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.deck-colors>img {
    width: 35px;
    height: 35px;
    margin: 0px 10px;
}

.count-cards {
    display: flex;
    justify-content: center;
    margin-bottom: -30px;
}

.count-card-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Merriweather Sans';
    font-weight: 700;
    font-style: italic;
    margin-bottom: 30px;
}

.count-cards-paragraph {
    font-family: 'Merriweather Sans';
    font-weight: 700;
    font-size: 2em;
    font-style: italic;
    text-align: center;
    margin-top: 0px;
}

.count-cards-paragraph+i {
    font-size: 3em;
}

.deck-title-name {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 12px;
}

.card-size>img {
    width: 100%;
    height: 100%;
}

.deck-size>a>img {
    width: 100%;
    height: 100%;
}

.blank-deck {
    margin: 60px 30px 30px;
}

.card-name,
.deck-name {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.1em;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: 2px;
}

.cards-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.deck-layout {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.cards-layout>div {
    margin: 30px;
}

.checked {
    color: #D4AF37;
}

.add-deck {
    width: 221px;
    height: 311px;
    background-color: #abcfec;
    border-radius: 5%;
    margin-top: 11px;
    display: inline-block;
    transition: background-color 0.5s ease-in-out;
}

.add-deck:hover {
    background-color: #6FA4CF;
}

.add-deck>i {
    font-size: 4em;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -13%;
    margin-top: -25%;
    color: #fafafa;
}

.one-four-cards {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
}

.one-four-cards>div {
    width: 50px;
    margin-left: 8px;
    margin-right: 10px;
}

.fa-plus,
.fa-trash-alt,
.fa-edit {
    color: #444;
    margin: 0px 15px;
    transition: color 0.3s ease-in-out;
}

.fa-edit:hover {
    color: #426696;
}

.fa-plus:hover {
    color: #426696;
    cursor: pointer;
}

.fa-trash-alt:hover {
    color: #da1a1a;
}

/*-------------------------- Reg Form ---*/

.login-form {
    margin-top: 20px;
}

.bad-login {
    font-family: 'Merriweather Sans', sans-serif;
    text-transform: uppercase;
    font-size: medium;
    text-align: center;
    background-color: #5c7fa5;
    color: #fff;
}

.reg-paragraph {
    font-family: 'Merriweather Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: #102540;
    margin-top: 45px;
}

.reg-paragraph>i {
    font-size: 225%;
    margin-top: 10px;
}

/*-------------------------- Buttons ---*/

.btn-blue {
    background-color: #5c7fa5;
}

.btn-blue:hover {
    background-color: #102540;
}

.btn-blue:active {
    background-color: #102540;
}

.btn-blue:focus {
    background-color: #102540;
}

/*-------------------------- Footer ---*/

.wizard-logo {
    position: relative;
    top: 20px;
    width: 25%;
}

.page-footer {
    background-color: #244673;
}

.footer-copyright {
    background-color: #fafafa!important;
    text-align: center;
}

.logo-footer {
    width: 30%;
    max-width: 300px;
}
