/*-------------------------- General ---*/

/* Color Theme Swatches in Hex */


main {
    min-height: 100vh;
}

.parallax-container {
      height: 450px;
    }


/*-------------------------- Navigation Bar ---*/

.logo {
    padding-top: 7px;
    padding-bottom: 7px;
    height: 50px;
    margin-top: 5px;
}

.nav-wrapper {
    background-color: #102540;
}

nav .sidenav-trigger {
    margin: 0;
}

/*-------------------------- Footer ---*/

.page-footer {
    background-color: #244673;
}

.footer-copyright {
    background-color: #244673;
}
