{% extends 'base.html' %} {% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} 
{% block content %} 
    <div class="cards-layout">
        {% for card in cards %}
        <div class="center col s10 offset-s1 m5 offset-m1">
            <p class="card-name">{{ card.card_name }}</p>
            <div class="row card-size">
                <img src="{{card.card_url}}"></img>
            </div>
            <div class="row">
                <a class="waves-effect waves-light btn btn-blue"><i class="material-icons left">add_circle</i>ADD</a>
                <a href="{{url_for('edit_card', card_id=card._id)}}" class="waves-effect waves-light btn btn-blue"><i class="material-icons right">edit</i>EDIT</a>
            <a href="{{url_for('remove_card', card_id=card._id)}}" class="btn waves-effect waves-light red">Delete Card<i class="material-icons left">clear</i></a>
            </div>
        </div>
        {% endfor %} 
    </div>
{% endblock %}
