<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" />
    <link rel="icon" href="{{ url_for('static', filename='img/linkicon.png')}}" />
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
</head>

<body>
    <header>
        <!-- Dropdown Structure -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{url_for ('index')}}" class="brand-logo center"><img class="logo" src="https://i.ibb.co/Qf4dm2c/logowhite.png" alt="logowhite"></a> 
                    {% block sidenav %}
                        
                    {% endblock %}
                    <ul class="right">
                        <li><a href="{{url_for ('logout')}}">{{ sign_out }}</a></li>
                    </ul>
                    <ul class="right">
                        <li><a href="{{url_for ('register')}}">{{ sign_in }}</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view" style="height: 200px">
                    <span class="white-text name">{{user_name}}</span>
                    <span class="white-text email">{{user_email}}</span>
                    <div class="background" >
                         {% if user_avatar == 'sorceress-avatar'%}
                        <img src="{{ url_for ('static', filename='img/avatars/avatar.jpg')}}">
                        {% else %}
                        <img src="{{ url_for ('static', filename='img/avatars/avatar1.jpg')}}">
                        {% endif %}
                    </div>
                    
                </div>
            </li>
            <li><a href="{{url_for('my_decks')}}"><i class="material-icons">home</i>My Decks</a></li>
            <li><a href="{{url_for ('my_cards', limit=20, offset=0)}}"><i class="material-icons">collections</i>My Cards</a></li>
            <li><a href="{{url_for ('new_card')}}"><i class="material-icons">add_circle</i>Add Card</a></li>
            <li><a href="{{url_for ('new_deck')}}"><i class="material-icons">add_circle</i>Add Deck</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Usefull Links</a></li>
            <li><a class="waves-effect" href="https://magic.wizards.com/en" target="_blank">Wizards</a></li>
            <li><a class="waves-effect" href="https://www.magicmadhouse.co.uk" target="_blank">Magic Madhouse</a></li>
            <li><a class="waves-effect" href="https://pl.imgbb.com" target="_blank">IMGBB free image host</a></li>
        </ul>
        {% with welcomes = get_flashed_messages(category_filter=["welcome"]) %} 
            {% if welcomes %} 
                {% for message in welcomes %}
                    <p class="{{category}} purple-alert">{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}
        <div class="parallax-container">
            <div class="parallax">
                <img src="{{ url_for ('static', filename='img/theme4.jpg')}}">
            </div>
        </div>
    </header>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="center">
            <div class="site-map">
                {% block footer_links %}
 
                {% endblock%}
            </div>
        </div>
        <div class="bottom-logo-box">
            <img class="magicmadhouse-logo" src="{{ url_for ('static', filename='img/partnerweb/magic-madhouse-uk.png')}}">
            <img class="partner-web-logo" src="{{ url_for ('static', filename='img/partnerweb/wizard_logo.png')}}">
            <img class="logo-footer" src="{{ url_for ('static', filename='img/logoblack.png')}}">
            <img class="partner-web-logo" src="{{ url_for ('static', filename='img/partnerweb/mtg_logo.png')}}">
            <img class="partner-web-logo" src="{{ url_for ('static', filename='img/partnerweb/imgbb.png')}}">
        </div>
        <div class="footer-copyrights center">
            <p>© 2019 Tobiasz Chodarewicz All Rights Reserved</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
    {% block charts %}
    {% endblock %}
</body>

</html>