<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}
    
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" type="text/css" />

</head>

<body>
    <header>
        <!-- Dropdown Structure -->
        <div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">

                    <a href="{{url_for ('index')}}" class="brand-logo center"><img class="logo" src="https://i.ibb.co/Qf4dm2c/logowhite.png" alt="logowhite" border="0"></a> 
                    {% block sidenav %}
                        
                    {% endblock %}
                    <ul class="right">
                        <li><a href="{{url_for ('logout')}}">{{ sign_out }}</a></li>
                    </ul>
                    <ul class="right">
                        <li><a href="{{url_for ('register')}}">{{ sign_in }}</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul id="slide-out" class="sidenav">
            <li>
                <div class="user-view" style="height: 200px">
                    <span class="white-text name">{{user_name}}</span>
                    <span class="white-text email">{{user_email}}</span>
                    <div class="background" >
                         {% if user_avatar == 'sorceress-avatar'%}
                        <img src="{{ url_for ('static', filename='img/avatars/avatar.jpg')}}">
                        {% else %}
                        <img src="{{ url_for ('static', filename='img/avatars/avatar1.jpg')}}">
                        {% endif %}
                    </div>
                    
                </div>
            </li>
            <li><a href="{{url_for('decks')}}"><i class="material-icons">home</i>My Decks</a></li>
            <li><a href="{{url_for ('my_cards', limit=20, offset=0)}}"><i class="material-icons">collections</i>My Cards</a></li>
            <li><a href="{{url_for ('add_card')}}"><i class="material-icons">add_circle</i>Add Card</a></li>
            <li><a href="{{url_for ('deck_name')}}"><i class="material-icons">add_circle</i>Add Deck</a></li>
            <li>
                <div class="divider"></div>
            </li>
            <li><a class="subheader">Usefull Links</a></li>
            <li><a class="waves-effect" href="https://magic.wizards.com/en">Wizards</a></li>
            <li><a class="waves-effect" href="https://www.magicmadhouse.co.uk">Magic Madhouse</a></li>
            <li><a class="waves-effect" href="https://pl.imgbb.com">IMGBB free image host</a></li>
        </ul>

        {% with welcomes = get_flashed_messages(category_filter=["welcome"]) %} 
            {% if welcomes %} 
                {% for message in welcomes %}
                    <p class="{{category}} purple-alert">{{message}}</p>
        {% endfor %} {% endif %} {% endwith %}
        <div class="parallax-container">
            <div class="parallax">
                <img src="{{ url_for ('static', filename='img/theme4.jpg')}}">
            </div>
        </div>
    </header>

    <main>
        {% block content %} {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="center">
            <div class="site-map">
                <span><a class="grey-text text-lighten-3" href="{{ url_for('index')}}">Home</a></span>
                <span><a class="grey-text text-lighten-3" href="{{ url_for('register')}}">Sign In</a></span>
                <span><a class="grey-text text-lighten-3" href="{{ url_for('decks')}}">My Decks</a></span>
                <span><a class="grey-text text-lighten-3" href="{{ url_for('my_cards', limit=20, offset=0)}}">My Cards</a></span>
                <span><a class="grey-text text-lighten-3" href="{{ url_for('add_card')}}">Add Card</a></span>
                <span><a class="grey-text text-lighten-3" href="{{ url_for('deck_name')}}">Add Deck</a></span>
            </div>
        </div>
        <div class="bottom-logo-box">
            <img class="magicmadhouse-logo" src="{{ url_for ('static', filename='img/partnerweb/magic-madhouse-uk.png')}}">
            <img class="partner-web-logo" src="{{ url_for ('static', filename='img/partnerweb/wizard_logo.png')}}">
            <img class="logo-footer" src="{{ url_for ('static', filename='img/logoblack.png')}}">
            <img class="partner-web-logo" src="{{ url_for ('static', filename='img/partnerweb/mtg_logo.png')}}">
            <img class="partner-web-logo" src="{{ url_for ('static', filename='img/partnerweb/imgbb.png')}}">
        </div>
        <div class="footer-copyrights center">
            <p>© 2019 Tobiasz Chodarewicz All Rights Reserved</p>
        </div>
    </footer>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" 
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js')}}"></script>
    
    <script>
    
    // Variables from app.py
    
    let creatures = {{count_creatures}}
    let planeswalkers = {{count_planeswalkers}}
    let artifacts = {{count_artifacts}}
    let sorceries = {{count_sorceries}}
    let enchantments = {{count_enchantments}}
    let instants = {{count_instants}}
    let lands = {{count_lands}}
    
    let rarity_land = {{rarity_land}}
    let rarity_common = {{rarity_common}}
    let rarity_uncommon = {{rarity_uncommon}}
    let rarity_rare = {{rarity_rare}}
    let rarity_mythic = {{rarity_mythic}}
    let rarity_timeshifted = {{rarity_timeshifted}}
    let rarity_masterpiece = {{rarity_masterpiece}}
    
    // Google charts
    
    google.charts.load('current', {'packages':['corechart']});
      
    
    google.charts.setOnLoadCallback(cardType);
    google.charts.setOnLoadCallback(cardRarity);

    
    // Draw 2 charts in deckbrowse.html 
    // 1st chart count from app.py each type of card
    function cardType() {
      var data = google.visualization.arrayToDataTable([
          ['Type', 'Cards'],
          ['Creature', creatures],
          ['Planeswalker', planeswalkers],
          ['Artifact',  artifacts],
          ['Sorcery', sorceries],
          ['Enchantment', enchantments],
          ['Instant', instants],
          ['Land', lands]
        ]);

        var options = {title:'Types of Cards',
                       pieHole:0.4,
                       width:350,
                       height:300};

        var chart = new google.visualization.PieChart(document.getElementById('cardType'));
        chart.draw(data, options);
      }

    // 2nd chart count rarity cards
    function cardRarity() {

        var data = google.visualization.arrayToDataTable([
          ['Type', 'Cards'],
          ['Land', rarity_land],
          ['Common', rarity_common],
          ['Uncommon',  rarity_uncommon],
          ['Rare', rarity_rare],
          ['Mythic Rare', rarity_mythic],
          ['Timeshifted', rarity_timeshifted],
          ['Masterpiece', rarity_masterpiece]
        ]);


        var options = {title:'Cards Rarity',
                        pieHole:0.4,
                        width:350,
                        height:300};

        var chart = new google.visualization.PieChart(document.getElementById('cardRarity'));
        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
</body>

</html>
