{% extends 'base.html' %} 

{% block title %}
<title>DECK-BOX {{user_name}}</title>
{% endblock %}

{% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} 
{% block content %} 
<!--flash message no cards if user don't have any-->
{% with no_cards = get_flashed_messages(category_filter=["no_cards"]) %}
    {% if no_cards %}
        {% for message in no_cards %}
            <p class="{{category}} purple-alert">{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{{user_id}}
<div class="container">
    <form class="center card-per-page" action="{{url_for('cards')}}" method="POST">
        <div class="row">
            <div class="input-field col s10 offset-s1 m4 offset-m4 l2 offset-l5">
            <select id="change_per_page" name="change_per_page">
                {% if per_page == 5 %}
                    <option value="5" selected>5</option>
                {% else %}
                    <option value="5" >5</option>
                {% endif %}
                {% if per_page == 10 %}
                    <option value="10" selected>10</option>
                {% else %}
                    <option value="10" >10</option>
                {% endif %}
                {% if per_page == 20 %}
                    <option value="20" selected>20</option>
                {% else %}
                    <option value="20" >20</option>
                {% endif %}
                {% if per_page == 50 %}
                    <option value="50" selected>50</option>
                {% else %}
                    <option value="50" >50</option>
                {% endif %}
                {% if per_page == 100 %}
                    <option value="100" selected>100</option>
                {% else %}
                    <option value="100" >100</option>
                {% endif %}
            </select>
            <label>Cards per page</label>
        </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light btn-blue" type="submit">Save</button> 
        </div>
    </form>
</div>
<!--diplay user cards with pagination-->
<div class="cards-layout">
    {% for card in card_output %}
    <div class="center col s10 offset-s1 m5 offset-m1">
        <p class="card-name">{{ card.card_name }}</p>
        <div class="row card-size">
            <img src="{{card.card_url}}"></img>
        </div>
        <div class="row">
            <a href="{{url_for('edit_card', card_id=card._id)}}"><i class="far fa-edit fa-2x"></i></a>
            <a href="{{url_for('remove_card', card_id=card._id)}}"><i class="far fa-trash-alt fa-2x"></i></a>
        </div>
        <div class="row">
            {% if card.rating == "1" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> 
            {% elif card.rating == "2" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> 
            {% elif card.rating == "3" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> 
            {% elif card.rating == "4" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span> 
            {% elif card.rating == "5" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span> 
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="center">{{ pagination.links }}</div>
{% endblock %}
