{% extends 'base.html' %} {% block title %}
<title>DECK-BOX {{user_name}}</title>
{% endblock %} {% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} {% block content %}
<!--flash message no cards if user don't have any-->
{% with error = get_flashed_messages(category_filter=["error"]) %}
{% if error %}
{% for message in error %}
<p class="{{category}} purple-alert">{{message}}</p>
{% endfor %} {% endif %} {% endwith %} 
{% with alert = get_flashed_messages(category_filter=["alert"]) %}
{% if alert %}
{% for message in alert %}
<p class="{{category}} purple-alert">{{message}}</p>
{% endfor %} {% endif %} {% endwith %} {{rate}} 
<div class="container">
    <form class="center card-per-page" action="{{url_for('my_cards')}}" method="POST">
        <div class="row">
            <div class="input-field col s10 offset-s1 m2 offset-m5" style="display: flex;">
                <select id="change_per_page" name="change_per_page">
                    <option value="{{per_page}}" selected disabled>{{per_page}}</option>
                    <option value="5" >5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <label>Cards per page</label>
                <button class="per-page-btn btn waves-effect waves-light btn-blue" style="margin: 8px 0px 0px 10px;padding-left: 10px;" type="submit">Set</button>
            </div>
        </div>
    </form>
    <section>
        <div class="center">
            <p><i id="toggle-filter" class="search fas fa-search"></i></p>
            <p><i id="toggle-filter-arrow" class="search-arrow fas fa-sort-down"></i></p>
        </div>
        <form id="filter" class="center card-per-page" action="{{url_for('my_cards')}}" method="POST">
            <div class="row">
                <div class="input-field col s10 offset-s1 m2 offset-m3">
                    <select class="select_all" id="color" name="color" multiple required>
                    {% for color in colors %}
                        <option value="{{color._id}}">{{color.color}}</option>
                    {% endfor %}
                </select>
                    <label>Card color</label>
                </div>
                <div class="input-field col s10 offset-s1 m2">
                    <select class="select_all" id="type" name="type" multiple required>
                        {% for type in card_types %}
                            <option value="{{type._id}}">{{type.type}}</option>
                        {% endfor %}
                    </select>
                    <label>Card type</label>
                </div>
                <div class="input-field col s10 offset-s1 m2">
                    <select class="select_all" id="rarity" name="rarity" multiple required>
                        {% for rarity in card_rarity %}
                            <option value="{{rarity._id}}">{{rarity.rarity}}</option>
                        {% endfor %}
                    </select>
                    <label>Card rarity</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m3 offset-m3">
                    <select id="sort_by" name="sort_by" required>
                    <option value="_id" selected>New cards</option>
                    <option value="toughness">Toughness</option>
                    <option value="strength">Strength</option>
                    <option value="mana_cost">Mana Cost</option>
                </select>
                    <label>Sort by:</label>
                </div>
                <div class="input-field col s10 offset-s1 m3">
                    <select id="descending_ascending" name="descending_ascending" required>
                    <option value='descending' selected>Descending</option>
                    <option value='ascending'>Ascending</option>
                </select>
                    <label>Desc/Asce</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light btn-blue" type="submit">Apply</button>
                <a href="{{url_for('my_cards')}}" onclick="{% if 'filter' in session %}{{session.pop('filter')}}{%endif%}" class="btn waves-effect waves-light red">Reset</a>
            </div>
        </form>
    </section>
</div>
<!--diplay user cards with pagination-->
<div class="cards-layout">
    {% for card in card_output %}
    <div class="center col s10 offset-s1 m5 offset-m1">
        <p class="card-name">{{ card.card_name }}</p>
        <div class="row card-size">
            <img src="{{card.card_url}}"></img>
        </div>
        <div class="row">
            <a href="{{url_for('edit_card', card_id=card._id)}}"><i class="far fa-edit fa-2x"></i></a>
            <a href="{{url_for('remove_card', card_id=card._id)}}"><i class="far fa-trash-alt fa-2x"></i></a>
        </div>
        <div class="row">
            {% if card.rating == "1" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> {% elif card.rating == "2" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> {% elif card.rating == "3" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> {% elif card.rating == "4" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span> {% elif card.rating == "5" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span> {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="center">{{ pagination.links }}</div>
{% endblock %}
{% block footer_links %}
<span><a class="grey-text text-lighten-3" href="{{ url_for('my_decks')}}">My Decks</a></span>
<span><a class="grey-text text-lighten-3" href="{{ url_for('my_cards', limit=20, offset=0)}}">My Cards</a></span>
<span><a class="grey-text text-lighten-3" href="{{ url_for('new_card')}}">Add Card</a></span>
<span><a class="grey-text text-lighten-3" href="{{ url_for('new_deck')}}">Add Deck</a></span> 
{% endblock%}
