{% extends 'base.html' %} {% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} 
{% block content %} 
{% with cards_append = get_flashed_messages(category_filter=["card_append"]) %}
    {% if cards_append %}
        {% for message in cards_append %}
            <p class="{{category}} purple-alert">{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="row">
        <p class="deck-title-name">{{ deck.deck_name }}</p>
    </div>
    <div class="cards-layout">
        {% for card in cards %}
        <div class="center col s10 offset-s1 m5 offset-m1">
            <p class="card-name">{{ card.card_name }}</p>
            <div class="row card-size">
                <img src="{{card.card_url}}"></img>
            </div>
            <form action="{{url_for('add_card_to_deck', deck_id=deck._id, card_id=card._id)}}" method="POST">
                <div class="input-field one-four-cards col s2">
                    <select id="one_four_cards" name="one_four_cards">
                        <option value="1" selected >1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                    <button id="add_button" type="submit" ><i class="fas fa-plus fa-2x"></i></button>
                </div>
                <div class="row">
                    
                </div>
            </form>
            <div class="row">
                {% if card.rating == "1" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> {% elif card.rating == "2" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> {% elif card.rating == "3" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> {% elif card.rating == "4" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span> {% elif card.rating == "5" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span> {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
