{% extends 'base.html' %} {% block title %}
<title>DECK-BOX {{user_name}}</title>
{% endblock %} {% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} 
{% block content %}
<!--flash message with card name that was added to deck-->
{% with alert = get_flashed_messages(category_filter=["alert"]) %}
{% if alert %}
{% for message in alert %}
<p class="{{category}} purple-alert">{{message}}</p>
{% endfor %} {% endif %} {% endwith %}
<div class="card-panel hoverable">
    <div class="row">
        <p class="deck-title-name">search</p>
    </div>
    <form class="center card-per-page" action="{{url_for('deck_build', deck_id=deck._id)}}" method="POST">
        <div class="row">
            <p style="font-style:italic;">Cards per page</p>
            <div class="input-field center per-page" style="display: flex;">
                <select id="change_per_page" name="change_per_page" required>
                    <option value="" selected disabled>{{per_page}}</option>
                    <option value="5" >5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                <button class="per-page-btn btn waves-effect waves-light btn-blue" style="margin: 8px 0px 0px 10px;padding-left: 10px;" type="submit">Set</button>
            </div>
        </div>
    </form>
    <section>
        <div class="center">
            <p><i id="toggle-filter" class="search fas fa-search"></i></p>
            <p><i id="toggle-filter-arrow" class="search-arrow fas fa-sort-down"></i></p>
        </div>
        <form id="filter" class="center card-per-page" action="{{url_for('deck_build', deck_id=deck._id)}}" method="POST">
            <div class="row">
                <div class="input-field col s10 offset-s1 m2 offset-m3">
                    <select class="select_all" id="color" name="color" multiple required>
                    {% for color in colors %}
                        <option value="{{color._id}}">{{color.color}}</option>
                    {% endfor %}
                </select>
                    <label>Card color</label>
                </div>
                <div class="input-field col s10 offset-s1 m2">
                    <select class="select_all" id="type" name="type" multiple required>
                        {% for type in card_types %}
                            <option value="{{type._id}}">{{type.type}}</option>
                        {% endfor %}
                    </select>
                    <label>Card type</label>
                </div>
                <div class="input-field col s10 offset-s1 m2">
                    <select class="select_all" id="rarity" name="rarity" multiple required>
                        {% for rarity in card_rarity %}
                            <option value="{{rarity._id}}">{{rarity.rarity}}</option>
                        {% endfor %}
                    </select>
                    <label>Card rarity</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10 offset-s1 m3 offset-m3">
                    <select id="sort_by" name="sort_by" required>
                    <option value="_id" selected>New cards</option>
                    <option value="toughness">Toughness</option>
                    <option value="strength">Strength</option>
                    <option value="mana_cost">Mana Cost</option>
                </select>
                    <label>Sort by:</label>
                </div>
                <div class="input-field col s10 offset-s1 m3">
                    <select id="descending_ascending" name="descending_ascending" required>
                    <option value='descending' selected>Descending</option>
                    <option value='ascending'>Ascending</option>
                </select>
                    <label>Desc/Asce</label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light btn-blue" type="submit">Apply</button>
                <a href="{{url_for('deck_build', deck_id=deck._id)}}" onclick="{% if 'filter' in session %}{{session.pop('filter')}}{%endif%}" class="btn waves-effect waves-light red">Reset</a>
            </div>
        </form>
    </section>
</div>
<div class="row">
    <p class="deck-title-name">{{ deck.deck_name }}</p>
</div>
<div class="center">
    <a href="{{url_for('deck_browse', deck_id=deck._id)}}" class="btn waves-effect waves-light btn-blue">go back
        <i class="material-icons right">replay</i>
    </a>
</div>
<div class="cards-layout">
    <!--loop all user cards and diplay with option to add 1 to 4 cards-->
    {% for card in cards %}
    <div class="center col s10 offset-s1 m5 offset-m1">
        <p class="card-name">{{ card.card_name }}</p>
        <div class="row card-size">
            <img src="{{card.card_url}}"></img>
        </div>
        <form action="{{url_for('add_card_to_deck', deck_id=deck._id, card_id=card._id)}}" method="POST">
            <div class="input-field one-four-cards col s2">
                <select id="one_four_cards" name="one_four_cards">
                        <option value="1" selected >1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                <button id="add_button" type="submit"><i class="fas fa-plus fa-2x"></i></button>
            </div>
            <div class="row">
            </div>
        </form>
        <div class="row">
            {% if card.rating == "1" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> {% elif card.rating == "2" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> {% elif card.rating == "3" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span> {% elif card.rating == "4" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span> {% elif card.rating == "5" %}
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span> {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="center">{{ pagination.links }}</div>
{% endblock %} {% block footer_links %}
<span><a class="grey-text text-lighten-3" href="{{ url_for('my_decks')}}">My Decks</a></span>
<span><a class="grey-text text-lighten-3" href="{{ url_for('my_cards')}}">My Cards</a></span>
<span><a class="grey-text text-lighten-3" href="{{ url_for('new_card')}}">Add Card</a></span>
<span><a class="grey-text text-lighten-3" href="{{ url_for('new_deck')}}">Add Deck</a></span> {% endblock%}
