{% extends 'base.html' %} 

{% block title %}
<title>DECK-BOX {{user_name}}</title>
{% endblock %}

{% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} 
{% block content %}
<div class="deck-layout">
        <!--blank card with link to create a new deck-->
        <div class="blank-deck col s10 offset-s1 m5 offset-m1">
                <a href="{{url_for('deck_name')}}">
                    <div class="add-deck">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </a>
        </div>
    <!--loop all user decks and display-->
    {% for deck in decks %}
        <div class="center col s10 offset-s1 m5 offset-m1 decks">
            <p class="deck-name">{{ deck.deck_name }}</p>
            <div class="row deck-size">
                <a href="{{url_for('deck_browse', deck_id=deck._id)}}">
                    <img src="{{ url_for ('static', filename='/img/cards/card_back.jpg')}}"></img>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
