{% extends 'base.html' %} {% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} {% block content %}
<div class="deck-layout">
        <div class="blank-deck col s10 offset-s1 m5 offset-m1">
                <a href="{{url_for('deck_name')}}">
                    <div class="add-deck">
                        <i class="fas fa-plus-circle"></i>
                    </div>
                </a>
        </div>
    {% for deck in decks %}
        <div class="center col s10 offset-s1 m5 offset-m1">
            <p class="deck-name">{{ deck.deck_name }}</p>
            <div class="row deck-size">
                <img src="../static/img/cards/card_back.jpg"></img>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
