{% extends 'base.html' %}

{% block title %}
<title>DECK-BOX {{user_name}}</title>
{% endblock %}

{% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} 

{% block content %}
<!--flash message with card name that has been removed by user-->
{% with card_removed = get_flashed_messages(category_filter=["card_removed"]) %} 
  {% if card_removed %} 
    {% for message in card_removed %}
      <p class="{{category}} purple-alert">{{message}}</p>
{% endfor %} {% endif %} {% endwith %}
<!--panel with deck statistics and charts-->
<div class="card-panel hoverable">
    <div class="row">
        <p class="deck-title-name">{{ deck.deck_name }}</p>
    </div>
    <div class="row deck-colors">
        {% for color in color_name %}
            {% if color == ['white'] %}
            <img src="../static/img/colors/plains.png"></img>
            {% elif color == ['blue'] %}
            <img src="../static/img/colors/islands.png"></img>
            {% elif color == ['black'] %}
            <img src="../static/img/colors/swamp.png"></img>
            {% elif color == ['red'] %}
            <img src="../static/img/colors/mountain.png"></img>
            {% elif color == ['green'] %}
            <img src="../static/img/colors/forest.png"></img>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row count-cards">
        <p class="count-cards-paragraph">{{ count_cards }}</p>
        <i class="material-icons left">view_module</i>
    </div>
    <div class="row count-card-types">
        <p class="count-cards-paragaph"> {{ count_planeswalkers }}<span> Planeswalker |</span></p>
        <p class="count-cards-paragaph">&nbsp; {{ count_creatures }}<span> Creature |</span></p>
        <p class="count-cards-pararaph">&nbsp; {{ count_artifacts }}<span> Artifact |</span></p>
        <p class="count-cards-pararaph">&nbsp; {{ count_sorceries }}<span> Sorcery |</span></p>
        <p class="count-cards-paragaph">&nbsp; {{ count_enchantments }}<span> Enchantment |</span></p>
        <p class="count-cards-pararaph">&nbsp; {{ count_instants }}<span> Instant |</span></p>
        <p class="count-cards-paragaph">&nbsp; {{ count_lands }}<span> Land</span></p>
    </div>
    <div class="row center">
        <button id="arrow-toggle-down">
            <p>Click for charts</p>
            <i class="fas fa-sort-down"></i>
        </button>
    </div>
    <div id="chart-toggle" class="row">
        <div class="col s6" id="cardType" style="width: 50%; height: 100%;"></div>
        <div class="col s6" id="cardRarity" style="width: 50%; height: 100%;"></div>
    </div>
    <div class="row center deck-browse-btn">
        <a href="{{url_for('deck_build', deck_id=deck._id)}}"><i class="far fa-edit fa-3x"></i></a>
        <a href="{{url_for('remove_deck', deck_id=deck._id)}}"><i class="far fa-trash-alt fa-3x"></i></a>
    </div>
</div> 
<!--loop and display cards-->
<div class="cards-layout">
    {% if cards != None %} 
        {% for card in cards %}
        <div class="center col s10 offset-s1 m5 offset-m1">
            <p class="card-name">{{ card.card_name }}</p>
            <div class="row card-size">
                <img src="{{card.card_url}}"></img>
            </div>
            <div class="row card-amount">
                {{ card.amount }}
            </div>
            <div class="row">
                <a href="{{url_for('remove_card_from_deck', deck_id=deck._id, card_id=card._id)}}"><i class="far fa-trash-alt fa-2x"></i></a>
            </div>
            <div class="row">
                {% if card.rating == "1" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> 
                {% elif card.rating == "2" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> 
                {% elif card.rating == "3" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> 
                {% elif card.rating == "4" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span> 
                {% elif card.rating == "5" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span> 
                {% endif %}
            </div>
        </div>
        {% endfor %} 
    {% endif %}
</div>
{% endblock %}
