{% extends 'base.html' %}

{% block title %}
<title>DECK-BOX {{user_name}}</title>
{% endblock %}

{% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} 

{% block content %}
<!--flash message with card name that has been removed by user-->
{% with alert = get_flashed_messages(category_filter=["alert"]) %} 
  {% if alert %} 
    {% for message in alert %}
      <p class="{{category}} purple-alert">{{message}}</p>
{% endfor %} {% endif %} {% endwith %}
<!--panel with deck statistics and charts-->
<div class="card-panel hoverable">
    <div class="row">
        <p class="deck-title-name">{{ deck.deck_name }}</p>
    </div>
    <div class="row deck-colors">
        {% for color in color_name %}
            {% if color == ['white'] %}
            <img src="../static/img/colors/plains.png"></img>
            {% elif color == ['blue'] %}
            <img src="../static/img/colors/islands.png"></img>
            {% elif color == ['black'] %}
            <img src="../static/img/colors/swamp.png"></img>
            {% elif color == ['red'] %}
            <img src="../static/img/colors/mountain.png"></img>
            {% elif color == ['green'] %}
            <img src="../static/img/colors/forest.png"></img>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row count-cards">
        <p class="count-cards-paragraph">{{ count_cards }}</p>
        <i class="material-icons left">view_module</i>
    </div>
    <div class="row count-card-types">
        <p class="count-cards-paragaph"> {{ LandsRarities.count_planeswalkers }}<span> Planeswalker |</span></p>
        <p class="count-cards-paragaph">&nbsp; {{ LandsRarities.count_creatures }}<span> Creature |</span></p>
        <p class="count-cards-pararaph">&nbsp; {{ LandsRarities.count_artifacts }}<span> Artifact |</span></p>
        <p class="count-cards-pararaph">&nbsp; {{ LandsRarities.count_sorceries }}<span> Sorcery |</span></p>
        <p class="count-cards-paragaph">&nbsp; {{ LandsRarities.count_enchantments }}<span> Enchantment |</span></p>
        <p class="count-cards-pararaph">&nbsp; {{ LandsRarities.count_instants }}<span> Instant |</span></p>
        <p class="count-cards-paragaph">&nbsp; {{ LandsRarities.count_lands }}<span> Land</span></p>
    </div>
    <div class="row center">
            <p>Click for charts</p>
            <i id="arrow-toggle-down" class="fas fa-sort-down"></i>
    </div>
    <div id="chart-toggle" class="row">
        <div class="col s6" id="cardType" style="width: 50%; height: 100%;"></div>
        <div class="col s6" id="cardRarity" style="width: 50%; height: 100%;"></div>
    </div>
    <div class="row center deck-browse-btn">
        <a href="{{url_for('deck_build', deck_id=deck._id)}}"><i class="far fa-edit fa-3x"></i></a>
        <a href="{{url_for('remove_deck', deck_id=deck._id)}}"><i class="far fa-trash-alt fa-3x"></i></a>
    </div>
</div> 
<!--loop and display cards-->
<div class="cards-layout">
    {% if cards != None %} 
        {% for card in cards %}
        <div class="center col s10 offset-s1 m5 offset-m1">
            <p class="card-name">{{ card.card_name }}</p>
            <div class="row card-size">
                <img src="{{card.card_url}}"></img>
            </div>
            <div class="row card-amount">
                {{ card.amount }}
            </div>
            <div class="row">
                <a href="{{url_for('remove_card_from_deck', deck_id=deck._id, card_id=card._id)}}"><i class="far fa-trash-alt fa-2x"></i></a>
            </div>
            <div class="row">
                {% if card.rating == "1" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> 
                {% elif card.rating == "2" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> 
                {% elif card.rating == "3" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span> 
                {% elif card.rating == "4" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span> 
                {% elif card.rating == "5" %}
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span> 
                {% endif %}
            </div>
        </div>
        {% endfor %} 
    {% endif %}
</div>
{% endblock %}
{% block footer_links %}
    <span><a class="grey-text text-lighten-3" href="{{ url_for('my_decks')}}">My Decks</a></span>
    <span><a class="grey-text text-lighten-3" href="{{ url_for('my_cards', limit=20, offset=0)}}">My Cards</a></span>
    <span><a class="grey-text text-lighten-3" href="{{ url_for('new_card')}}">Add Card</a></span>
    <span><a class="grey-text text-lighten-3" href="{{ url_for('new_deck')}}">Add Deck</a></span>
{% endblock %}

{% block charts %}
<script>

// Variables from app.py
  
    let creatures = {{LandsRarities.count_creatures}};
    let planeswalkers = {{LandsRarities.count_planeswalkers}};
    let artifacts = {{LandsRarities.count_artifacts}};
    let sorceries = {{LandsRarities.count_sorceries}};
    let enchantments = {{LandsRarities.count_enchantments}};
    let instants = {{LandsRarities.count_instants}};
    let lands = {{LandsRarities.count_lands}};
    
    let rarity_land = {{LandsRarities.rarity_land}};
    let rarity_common = {{LandsRarities.rarity_common}};
    let rarity_uncommon = {{LandsRarities.rarity_uncommon}};
    let rarity_rare = {{LandsRarities.rarity_rare}};
    let rarity_mythic = {{LandsRarities.rarity_mythic}};
    let rarity_timeshifted = {{LandsRarities.rarity_timeshifted}};
    let rarity_masterpiece = {{LandsRarities.rarity_masterpiece}};
    
    // Google charts
    
    google.charts.load('current', {'packages':['corechart']});
    
    google.charts.setOnLoadCallback(cardType);
    google.charts.setOnLoadCallback(cardRarity);
    
    // Draw 2 charts in deckbrowse.html 
    // 1st chart count from app.py each type of card
    function cardType() {
      var data = google.visualization.arrayToDataTable([
          ['Type', 'Cards'],
          ['Creature', creatures],
          ['Planeswalker', planeswalkers],
          ['Artifact',  artifacts],
          ['Sorcery', sorceries],
          ['Enchantment', enchantments],
          ['Instant', instants],
          ['Land', lands]
        ]);
    
        var options = {title:'Types of Cards',
                       pieHole:0.4,
                       width:350,
                       height:350};
    
        var chart = new google.visualization.PieChart(document.getElementById('cardType'));
        chart.draw(data, options);
      }
    
    // 2nd chart count rarity cards
    function cardRarity() {
    
        var data = google.visualization.arrayToDataTable([
          ['Type', 'Cards'],
          ['Land', rarity_land],
          ['Common', rarity_common],
          ['Uncommon',  rarity_uncommon],
          ['Rare', rarity_rare],
          ['Mythic Rare', rarity_mythic],
          ['Timeshifted', rarity_timeshifted],
          ['Masterpiece', rarity_masterpiece]
        ]);
    
        var options = {title:'Cards Rarity',
                        pieHole:0.4,
                        width:350,
                        height:350};
    
        var chart = new google.visualization.PieChart(document.getElementById('cardRarity'));
        chart.draw(data, options);
    }
</script>
{% endblock %}