{% extends 'base.html' %} 
{% block title %}
<title>DECK-BOX {{user_name}}</title>
{% endblock %}
{% block sidenav %}
<ul class="left">
    <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large"><i class="material-icons">menu</i></a>
</ul>
{% endblock %} {% block content %}
<h3 class="title">Edit Card</h3>
  <div class="row card-size">
    <img src="{{card.card_url}}" onerror="this.onerror=null;this.src='/static/img/cards/blank_card.png';"></img>
  </div>
<div class="row card-form">
  <form class="col s12 center" action="{{url_for('edit_card', card_id=card._id)}}" method="POST">
    <div class="row">
      <div class="input-field col s10 offset-s1">
        <input id="card_name" name="card_name" type="text" value="{{card.card_name}}" class="validate" required="" aria-required="true">
        <label for="card_name">Card Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10 offset-s1 m5 offset-m1">
        <select required  id="color" name="color" multiple required>
          {% for card_col in card_color_id %}
            {% for color in colors %}
                {% if color._id == card_col %}
                    <option value="{{color._id}}" selected >{{color.color}}</option>
                {% else %}
                    <option value="{{color._id}}">{{color.color}}</option>
                {% endif %}
            {% endfor %}
          {% endfor %}
          </select>
        <label>Multiply color select</label>
      </div>
      <div class="input-field col s10 offset-s1 m5">
        <label for="mana_cost">Converted Mana Cost</label>
        <input type="number" name="mana_cost" value="{{card.mana_cost}}" class="validate"  />
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10 offset-s1 m3 offset-m1">
        <select id="type" name="type" required>
           <option value="" disabled selected></option>
            {% for type in card_types %}
                {% if type._id == card.type %}
                    <option value="{{type._id}}" selected>{{type.type}}</option>
                {% else %}
                    <option value="{{type._id}}">{{type.type}}</option>
                {% endif %}
            {% endfor %}
          </select>
        <label>Select card type</label>
      </div>
      <div class="input-field col s10 offset-s1 m4">
        <select id="rarity" name="rarity" required>
            <option value="" disabled selected></option>
            {% for rar in rarity %}
                {% if rar._id == card.rarity %}
                    <option value="{{rar._id}}" selected >{{rar.rarity}}</option>
                {% else %}
                    <option value="{{rar._id}}">{{rar.rarity}}</option>
                {% endif %}
            {% endfor %}
          </select>
        <label>Select rarity</label>
      </div>
      <div class="input-field col s10 offset-s1 m3">
        <select id="set" name="set" required>
            <option value="" disabled selected></option>
            {% for set in expansion %}
                {% if set._id == card.set %}
                <option value="{{set._id}}" selected >{{set.set}}</option>
                {% else %}
                <option value="{{set._id}}">{{set.set}}</option>
                {% endif %}
            {% endfor %}
          </select>
        <label>Select expansion</label>
      </div>
    </div>
    <div class="row">
      <p class="range-field col s5 offset-s1">
        <label>Strength</label>
        <input type="range" id="strength" name="strength" min="0" max="25" value="{{card.strength}}" />
      </p>
      <p class="range-field col s5">
        <label>Toughness</label>
        <input type="range" id="toughness" name="toughness" min="0" max="25" value="{{card.toughness}}" />
      </p>
    </div>
    <div class="row ruling-row">
      <div class="input-field col s10 offset-s1">
        <textarea id="ruling" name="ruling"  class="materialize-textarea">{{card.ruling}}</textarea>
        <label for="ruling">Ruling</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10 offset-s1">
        <textarea id="flavor_text" name="flavor_text" class="materialize-textarea">{{card.flavor_text}}</textarea>
        <label for="flavor_text">Flavor Text</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10 offset-s1 m5 offset-m1">
        <input id="artist" name="artist" type="text" value="{{card.artist}}" class="validate">
        <label for="artist">Artist Name</label>
      </div>
      <div class="input-field col s10 offset-s1 m5">
        <select id="rating" name="rating">
          <option value="" disabled selected required></option>
            {% for rate in rating %}
                {% if rate.rating == card.rating %}
                <option  value="{{card.rating}}" selected >{{card.rating}}</option>
                {% else %}
                <option  value="{{rate.rating}}">{{rate.rating}}</option>
                {% endif %}
            {% endfor %}
          </select>
        <label>Card rating</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s10 offset-s1">
        <input id="card_url" name="card_url" type="text" value="{{card.card_url}}" class="validate">
        <label for="card_url">Paste card img url</label>
      </div>
    </div>
    <div class="row">
      <button class="btn waves-effect waves-light btn-blue" type="submit">Save Card<i class="material-icons right">check</i></button>
      <a href="{{url_for('my_cards')}}" class="btn waves-effect waves-light red">Cancel<i class="material-icons left">clear</i></a>
    </div>
  </form>
</div>
{% endblock %}
{% block footer_links %}
    <span><a class="grey-text text-lighten-3" href="{{ url_for('my_decks')}}">My Decks</a></span>
    <span><a class="grey-text text-lighten-3" href="{{ url_for('my_cards')}}">My Cards</a></span>
    <span><a class="grey-text text-lighten-3" href="{{ url_for('new_card')}}">Add Card</a></span>
    <span><a class="grey-text text-lighten-3" href="{{ url_for('new_deck')}}">Add Deck</a></span>
{% endblock%}