{% extends 'base.html' %} 
{% block title %}
<title>DECK-BOX</title>
{% endblock %}
{% block content %}

<div class="row center">
    <div class="paragraph-on-parallax">
        <p>deck box is a place where you can hold and manage<br /> your own mtg collection</p>
    </div>
    <div>
        <p class="paragraph">Follow few simple steps:</p>
        <i class="fas fa-shoe-prints"></i> <i class="fas fa-shoe-prints"></i> <i class="fas fa-shoe-prints"></i>
    </div>
    <div class="index-cards card-panel hoverable">
        <div>
            <i class="fas fa-user-check"></i>
            <p class="paragraph"><i class="fas fa-check"></i> First create an account</p>
            <a href="{{url_for('register')}}" class="btn waves-effect waves-light btn-blue">Register<i class="material-icons left">account_circle</i></a>
        </div>
    </div>
<div class="parallax-container">
    <div class="parallax">
        <img src="{{ url_for ('static', filename='img/theme2.jpg')}}">
    </div>
</div>
    <div class="card-panel hoverable">
        <div>
            <p class="paragraph"><i class="fas fa-check"></i> Add all your cards</p>
        </div>
        <div class="index-cards"> 
            <img class="col s3" src="{{ url_for ('static', filename='img/cards/card1.png')}}">
            <i class="fas fa-plus"></i>
            <img class="col s3" src="{{ url_for ('static', filename='img/cards/card2.png')}}">
            <i class="fas fa-plus"></i>
            <img class="col s3" src="{{ url_for ('static', filename='img/cards/card3.png')}}">
        </div>
    </div>
    
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="{{ url_for ('static', filename='img/theme6.jpg')}}">
    </div>
</div>
<div class="row center">
    <div class="card-panel hoverable">
        <div>
            <p class="paragraph"> That is it !!!</p>
            <i class="fas fa-laugh-beam"></i>
            <p class="paragraph">Now You can edit, search your cards and build decks in quick and easy way</p>
        </div>
        <div class="container">
            <img class='five-cards' src="{{ url_for ('static', filename='img/cards/cards.png')}}">
        </div>
    </div>
</div>
{% endblock %}
{% block footer_links %}
    <span><a class="grey-text text-lighten-3" href="{{ url_for('index')}}">Home</a></span>
    <span><a class="grey-text text-lighten-3" href="{{ url_for('register')}}">Sign In</a></span>
{% endblock%}