{% extends 'base.html' %} {% block content %}

{% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
        {% for message in errors %}
            <p class="{{category}} bad-login">{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="login-form row container">
    <form class="col s12" method=POST action="{{url_for('login')}}">
        <div class="row ">
            <div class="input-field col s8 offset-s2">
                <input id="log_username" name="log_username" type="text" class="validate">
                <label for="log_username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="log_password" name="log_password" type="password" class="validate">
                <label for="log_password">Password</label>
            </div>
        </div>
        <div class="row center-align">
            <button class="btn waves-effect waves-light btn-blue" type="submit" name="action">LOGIN
                <i class="material-icons right">play_arrow</i>
            </button>
        </div>
    </form>
</div>
<p class="reg-paragraph"> OR Register <br /> if you don't have an account yet <br /><i class="fas fa-user-plus"></i></p>
{% with exists = get_flashed_messages(category_filter=['exists']) %}
    {% if exists %}
        {% for message in exists %}
            <p class=" {{category}} bad-login">{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div class="row container">
    <form class="col s12" method=POST action="{{ url_for('register')}}">
        <div class="row ">
            <div class="input-field col s8 offset-s2">
                <input placeholder="Must contain more than 3 characters" id="username" name="username" type="text" class="validate">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input placeholder="Must contain more than 5 characters" id="password" name="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s8 offset-s2">
                <input id="email" name="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row center-align">
            <button class="btn waves-effect waves-light btn-blue" type="submit" name="action">Register
                <i class="material-icons right">add</i>
            </button>
        </div>
    </form>
</div>

{% endblock %}
